* {
  box-sizing: border-box;
}

.logo-img {
  width: 240px;
  height: 80px;
  position: relative;
  left: 16rem;
}

nav {
  font-size: 18px;
}

.carrito {
  position: relative;
  left: 50rem;
  font-size: 27px;
}

.item-container {
  text-align: center;
  font-weight: lighter;
}

.counter-button {
    margin: 0 2% 0 2%;
    border: none;
    font-size: 16px;
    
}

.cart-add {
    border: none;
    margin: 0 0 0 1.6%;
    margin-top: 1%;
}

.item-card {
    width: 17rem;
    margin-bottom: 2rem;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.link:hover {
    color: rgb(255, 172, 134);
}

.item-card img {
    padding: 5%;
}

.itemListContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5% 0 5%;
}


.detail-container {
    padding-top: 2%;
}

.detail-img {
    width: 22rem;
    height: 22rem;
    padding: 2%;
    border: 1px solid #a8a8a8;
}

.detail-card-container h5 {
    padding-top: 2%;
}

.detail-card-container p {
    line-height: 2;
    padding: 0 0 2% 0;
}
