* {
  box-sizing: border-box;
}

.logo-img {
  width: 240px;
  height: 90px;
  position: relative;
  left: 21rem;
}

nav {
  font-size: 18px;
}

.carrito {
  position: relative;
  left: 57rem;
  font-size: 27px;
}

.item-container {
  text-align: center;
  font-weight: lighter;
}

